<section id="search" class="search-wrap">
  <h1>OPT 카드 왜케 오래 걸리냐 회사 짤리게 생겼다!!!!!!</h1>
  <form action="/gigs/search" class="search-form">
    <i class="fas fa-search"></i>
    <input type="search" name="term" placeholder="Javascript, PHP, Rails, etc...">
    <input type="submit" value="Search">
  </form>
</section>